.footer {
    background-color: $veryDarkCyan;
    padding: 0 1rem;
    padding-top: 10rem;
    padding-bottom: 2rem;
    color: #fff;

    &__item {
        margin-bottom: 1.5rem;
    }

    &__item:nth-child(4){
        margin-bottom: 0;
    }

    &__logo {
        filter: brightness(0) invert(1);

        img {
            height: 1.75rem;
            display: block;
        }
    }

    &__item { 
        display: flex;
        align-items: flex-start;
        max-width: 100%;
        gap: 0;

        &-icon {
            padding-top: 0.2rem;
            min-width: 40px;
            max-width: 40px;
        }

        &-description {
            max-width: 700px;
        }
    
    }   


    &__categories {
        margin: 3rem 0;

        a {
            display: block;
            margin-bottom: 1rem;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1.5rem;

        i {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #fff;
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }
        
    }

    &__copyright {
        text-align: center;
    }
}



@media (min-width: 48rem) {
    .footer {
        position: relative;
        padding-top: 11.875rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 8.875rem;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 2.875rem;


        &__items {
            display: flex;
            flex-direction: column;
        }

        &__categories {

            nav {
                display: grid;
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(2, 1fr);
            }
            
        }

        &__social {
            padding-top: 2.5rem;
            justify-content: center;
            align-items: flex-start;
        }

        &__copyright {
            position: absolute;
            right: 5rem;
            bottom: 4.25rem;
        }
    }
}

@media (min-width: 62rem) { 
    .footer {
        padding-left: 7.5rem;
        padding-right: 5rem;
        grid-gap: 8.875rem;

        &__social {
            padding-left: 1.7rem;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
}

// Change categories order
// Align Copy with social media