.hero {
    margin-top: 3rem;
    padding: 2rem;
    padding-top: 0;

    &__text {
        text-align: center;

        h1 {
            margin-bottom: 1.2rem;
            line-height: 2rem;
        }

        p {
            margin-bottom: 1.8rem;
        }

        button {
            margin-bottom: 3.4375rem;
            padding: 0.875rem 4rem;
            background-color: $pink;
            color: #fff;
            border-radius: 5rem;
            border: none;
        }
    }
}

@media (min-width: 48rem) {
    .hero {
        max-width: 80rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 5rem;
        padding-bottom: 6.875rem;

        &__text {
            margin-top: 3.5rem;
            width: 40%;
            text-align: left;

            h1 {
                line-height: 3.5rem;
                font-size: 2.5rem;
            }

            button {
                padding: 1.25rem 4.5rem;
            }
        }

        &__img {
            width: 60%;
        }
    }


}