html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #00252e;
  line-height: 1.5rem;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
  font-size: 1.125rem;
  white-space: nowrap;
  cursor: pointer;
}

button:hover {
  opacity: 50%;
}

.attribution {
  background: #000;
  color: #fff;
}

.hero {
  margin-top: 3rem;
  padding: 2rem;
  padding-top: 0;
}

.hero__text {
  text-align: center;
}

.hero__text h1 {
  margin-bottom: 1.2rem;
  line-height: 2rem;
}

.hero__text p {
  margin-bottom: 1.8rem;
}

.hero__text button {
  margin-bottom: 3.4375rem;
  padding: 0.875rem 4rem;
  background-color: #ff52bf;
  color: #fff;
  border-radius: 5rem;
  border: none;
}

@media (min-width: 48rem) {
  .hero {
    max-width: 80rem;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5rem;
    padding-bottom: 6.875rem;
  }
  .hero__text {
    margin-top: 3.5rem;
    width: 40%;
    text-align: left;
  }
  .hero__text h1 {
    line-height: 3.5rem;
    font-size: 2.5rem;
  }
  .hero__text button {
    font-size: 0.875rem;
    padding: 1.25rem 4.5rem;
  }
  .hero__img {
    width: 60%;
  }
}

.container {
  background-color: #ebfbff;
  background-image: url(/images/bg-hero-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  padding: 2rem 1rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .header__logo {
  height: 1.2rem;
}

header nav .header__btn {
  padding: 0.5rem 2rem;
  background-color: #fff;
  font-weight: 700;
  border-radius: 2rem;
  border: none;
  font-size: 0.875rem;
}

@media (min-width: 48rem) {
  .container {
    background-image: url(/images/bg-hero-desktop.svg);
  }
  header {
    padding-top: 2.875rem;
    padding-bottom: 4.25rem;
    max-width: 80rem;
    margin: 0 auto;
  }
  header .header__logo {
    width: 12.5rem;
    height: 1.875rem !important;
  }
  header .header__btn {
    padding: 1rem 4rem !important;
    border-radius: 5rem;
  }
}

main {
  position: relative;
  z-index: 1;
  padding: 3rem 1.5rem;
  margin-bottom: 8rem;
}

main > * {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
  text-align: center;
}

main .col {
  margin-bottom: 2rem;
  border-radius: 0.9rem;
  padding: 2rem;
}

main .col img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 85%;
  margin-bottom: 3rem;
}

main .col h2 {
  margin-bottom: 1.5rem;
}

main .col p {
  font-family: "Open Sans", sans-serif;
  color: #808d99;
  font-weight: 400;
}

main .community {
  text-align: center;
  padding: 2.5rem 1.5rem;
  border-radius: 0.9rem;
  background-color: #fff;
  width: 95%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: -14rem;
}

main .community h3 {
  padding-bottom: 2rem;
}

main .community button {
  padding: 0.875rem 3rem;
  background-color: #ff52bf;
  color: #fff;
  border-radius: 5rem;
  border: none;
}

@media (min-width: 48rem) {
  main {
    padding-top: 10.125rem;
    padding-bottom: 21.25rem;
    max-width: 77rem;
    margin: 0 auto;
  }
  main .col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 2.25rem;
    padding: 4.25rem 0;
    padding-left: 7.5rem;
    text-align: left;
    gap: 11.875rem;
  }
  main .col__img img {
    margin: 0;
  }
  main .flow {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 2.125rem;
  }
  main .community {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.8rem;
    max-width: 50rem;
    padding: 3.75rem 0;
    bottom: -6.5rem;
  }
  main .community h3 {
    padding-bottom: 3rem;
  }
  main .community button {
    padding: 1.8rem 7rem;
    font-size: 1.125rem;
    border-radius: 7rem;
  }
}

.footer {
  background-color: #00252e;
  padding: 0 1rem;
  padding-top: 10rem;
  padding-bottom: 2rem;
  color: #fff;
}

.footer__logo {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.footer__logo img {
  width: 11.25rem;
}

.footer__item li {
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__item li .footer__item-img {
  padding-top: 0.2rem;
  min-width: 50px;
}

.footer__categories {
  margin: 3rem 0;
}

.footer__categories nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__categories nav > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__categories nav > * a {
  padding-bottom: 1rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.footer__social-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.footer__copyright {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

@media (min-width: 48rem) {
  .footer {
    padding-top: 12rem;
  }
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 77rem;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__container > :first-child, .footer__container :nth-of-type(5) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .footer__logo {
    padding-bottom: 2.875rem;
  }
  .footer__item {
    -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
  }
  .footer__item li {
    padding-top: 0;
    padding-bottom: 2rem;
  }
  .footer__categories {
    margin: 0;
    margin-left: 8.5rem;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .footer__categories nav {
    gap: 2rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__categories nav > * {
    width: 50%;
  }
  .footer__social {
    margin: 0;
    padding: 0;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .footer__copyright {
    text-align: right;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */